* {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu", sans-serif;
  justify-content: center;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
footer,
input,
textarea,
.copyright,
.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu", sans-serif;
  line-height: 125%;
}

h1 {
  color: #3b3b3b;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
}
h2 {
  color: #3b3b3b;
  font-size: 30px;
  font-weight: bold;
  margin: 16px 0 8px 0;
}
h3 {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 4px 0;
}
h4 {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 4px;
}
h5 {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
}
h6 {
  color: #194b7d;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
}
a {
  color: #194b7d;
  text-decoration: none;
}

.outlineButton,
.button,
button {
  background-color: #194b7d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  white-space: nowrap;
}

.reportContainer {
  width: 1024px;
  margin: 120px auto;
}
